body {
  font-family: "Montserrat", sans-serif;
  margin: auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.li-principal {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 2rem;
}

.li-item {
  background-color: #f7f7f7;
  padding: 0.8rem 2rem;
  border: 2px solid rgb(255, 254, 254);
  border-radius: 4px;
  text-transform: uppercase;
  margin-left: 20px;
}

.li-item a {
  color: #111;
}

.li-item:hover {
  border: 2px solid rgb(111, 108, 108);
}

.titlep {
  font-size: 5rem;
  text-transform: uppercase;
}

.conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.intro p {
  max-width: 70ch;
}

h1::before {
  content: "";
  width: 80px;
  height: 8px;
  background-color: #5a66d8;
  display: block;
}

.imgpik img {
  width: 800px;
  grid-column: 2;
}

.categorias {
  margin: 0 auto;
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-items: center;
  padding-top: 100px;
}

.categorias p {
  max-width: 30ch;
}

.valores {

}

.cards{

  padding-top: 50px;
  display: flex;
  gap: 60px;
  justify-content:space-evenly;
  max-width: 1200px;
  margin: 0 auto;

}

.valores h2{

  text-align: center;
  font-size: 3rem;
  padding: 40px 0;
}

.card1 {
  color: #f7f7f7;
  background-color: #7304A8;
  padding: 40px;
  border-radius: 5px;
}

.card1 a{

  padding: 10px 20px;
  background-color: #D9CFC8;
  border-radius: 20px;

}
.card1 h3{
  font-size: 2rem;


}

.card1 ul {
  display: block;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}

.card1 li{
  padding: 15px;
}


.formulario{
  margin-top:100px;
  padding: 60px;
  max-width: 50%;

}

form{

  display: flex;
  flex-direction: column;
  align-items: stretch;

}

input{
  padding: 10px;
  border: 2px solid #7304A8;
  border-radius: 5px;
}

label{
  padding: 10px 0px;
}

button{

  color: #f7f7f7;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 20px;
  padding: 10px 60px;
  background-color: #4D49FF;
  border: none;
  border-radius: 3px;
  align-self: start;

}


